manifest {
    name = 'cocnt-souporcell-doublets'
    author = 'Wenjie Sun'
    homePage = '.'
    description = 'Nextflow pipeline for Souporcell doublet calling from single-cell CUT&Tag / ATAC BAMs.'
    version = '0.1.0'
}

params {
    input_dir = null
    bam_glob = '*.bam'
    out_dir = 'souporcell_work'
    barcode_list = null
    ref_fasta = null
    k_genotypes = 4
    fasta_cpus = 2
    tag_cpus = 4
    dedup_cpus = 20
    merge_cpus = 20
    souporcell_cpus = 20
    fasta_memory = '8 GB'
    tag_memory = '8 GB'
    dedup_memory = '32 GB'
    merge_memory = '500 GB'
    souporcell_memory = '300 GB'
    extract_mode = 'regex'
    qname_regex = '([ACGTN]+(?:-[0-9]+)?)$'
    colon_field = 5
    tail_length = 0
    index_suffix = ''
    skip_add_tags = false
    no_umi = true
    skip_remap = true
    ignore = true
    min_alt = 10
    min_ref = 10
    max_loci = 2048
    restarts = 100
    allow_troublet_failure = false
    allow_souporcell_partial = false
    clean_souporcell_output = true
    souporcell_cmd = 'souporcell_pipeline.py'
    souporcell_extra_args = ''
    publish_mode = 'copy'
    conda_env = "${projectDir}/envs/souporcell.yml"
    singularity_image = "${projectDir}/containers/souporcell.sif"
    container_bind_paths = '/varidata'
}

process {
    executor = 'local'
    shell = ['/bin/bash', '-euo', 'pipefail']
    errorStrategy = 'terminate'

    withName: PREPARE_FASTA {
        cpus = params.fasta_cpus
        memory = params.fasta_memory
    }

    withName: ADD_CB_RG_TAGS {
        cpus = params.tag_cpus
        memory = params.tag_memory
    }

    withName: DEDUP_BAM {
        cpus = params.dedup_cpus
        memory = params.dedup_memory
    }

    withName: MERGE_BAMS {
        cpus = params.merge_cpus
        memory = params.merge_memory
    }

    withName: RUN_SOUPORCELL {
        cpus = params.souporcell_cpus
        memory = params.souporcell_memory
        time = '24h'
    }
}

profiles {
    local {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        singularity.enabled = false
        conda.enabled = false
    }

    conda {
        conda.enabled = true
        process.conda = params.conda_env
    }

    singularity {
        singularity.enabled = true
        apptainer.enabled = false
        singularity.autoMounts = true
        singularity.runOptions = "--bind ${params.container_bind_paths}"
        process.container = params.singularity_image
    }

    apptainer {
        apptainer.enabled = true
        singularity.enabled = false
        apptainer.autoMounts = true
        apptainer.runOptions = "--bind ${params.container_bind_paths}"
        process.container = params.singularity_image
    }
}
