manifest {
    name = 'cocnt-souporcell-doublets'
    author = 'Wenjie Sun'
    homePage = '.'
    description = 'Nextflow pipeline for Souporcell doublet calling from single-cell CUT&Tag / ATAC BAMs.'
    version = '0.1.0'
}

params {
    input_dir = null
    bam_glob = '*.bam'
    out_dir = 'souporcell_work'
    barcode_list = null
    ref_fasta = null
    k_genotypes = 4
    extract_mode = 'regex'
    qname_regex = '([ACGTN]+(?:-[0-9]+)?)$'
    colon_field = 5
    index_suffix = ''
    skip_add_tags = false
    no_umi = true
    skip_remap = true
    ignore = true
    souporcell_extra_args = ''
    publish_mode = 'copy'
    conda_env = "${projectDir}/envs/souporcell.yml"
    singularity_image = "${projectDir}/containers/souporcell.sif"
    container_bind_paths = '/varidata'
}

process {
    executor = 'local'
    shell = ['/bin/bash', '-euo', 'pipefail']
    errorStrategy = 'terminate'

    withName: PREPARE_FASTA {
        cpus = 4
        memory = '16 GB'
    }

    withName: ADD_CB_RG_TAGS {
        cpus = 8
        memory = '32 GB'
    }

    withName: DEDUP_BAM {
        cpus = 16
        memory = '96 GB'
    }

    withName: MERGE_BAMS {
        cpus = 16
        memory = '96 GB'
    }

    withName: RUN_SOUPORCELL {
        cpus = 16
        memory = '128 GB'
        time = '24h'
    }
}

profiles {
    local {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        singularity.enabled = false
        conda.enabled = false
    }

    conda {
        conda.enabled = true
        process.conda = params.conda_env
    }

    singularity {
        singularity.enabled = true
        apptainer.enabled = false
        singularity.autoMounts = true
        singularity.runOptions = "--bind ${params.container_bind_paths}"
        process.container = params.singularity_image
    }

    apptainer {
        apptainer.enabled = true
        singularity.enabled = false
        apptainer.autoMounts = true
        apptainer.runOptions = "--bind ${params.container_bind_paths}"
        process.container = params.singularity_image
    }
}
